soapApp/src/main/webapp/wsdl/CalculateToBday.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapApp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapApp" xmlns:intf="http://soapApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapApp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDay">
    <complexType>
     <sequence>
      <element name="year" type="xsd:int"/>
      <element name="month" type="xsd:int"/>
      <element name="day" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDayResponse">
    <complexType>
     <sequence>
      <element name="getDayReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDayResponse">

      <wsdl:part element="impl:getDayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDayRequest">

      <wsdl:part element="impl:getDay" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculateToBday">

      <wsdl:operation name="getDay">

         <wsdl:input message="impl:getDayRequest" name="getDayRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDayResponse" name="getDayResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculateToBdaySoapBinding" type="impl:CalculateToBday">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDay">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculateToBdayService">

      <wsdl:port binding="impl:CalculateToBdaySoapBinding" name="CalculateToBday">

         <wsdlsoap:address location="http://localhost:8080/soapApp/services/CalculateToBday"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
